body {
    margin: 0;
    width: 100%;
    position: relative;
}

header {
    position: relative;
}

.uvodni-obrazek {
    width: 100%;
    margin: 0;

}
h1 {
    font-size: 80px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%,-50%);
    color: black;
    font-family: Rubik-one, sans-serif;
}

.znak {
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 10%;
    width: 25%;
    height: 25%;
}
.navbar{
    width: 75%;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    z-index: 2;
    border-top: white 40px solid;
    margin: auto;
}

.nav-links {
    display: flex;
    list-style: none;
    font-size: 28px;
    justify-content: flex-end;
    padding: 16px 16px 16px 16px;
    margin: 0;
    background: white;
}

.nav-link a {
    text-decoration: none;
    color: black;
    font-family: Rubik-one, sans-serif;
    padding: 16px 16px 16px 16px;


}

.nav-link a:hover {
    color: rgb(160, 160, 160);
}

