.lišta{
    display: flex;

}
.H1{
    width: 25%;
    position: relative;

}

.h1{
    position: absolute;
    font-family: Raleway;
    font-size: 72px;
    font-weight: bold;
    left: 25%;
}
.nav-bar {
    width: 50%;
}

.ikony {
    width: 25%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;

}


.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 24px;

}

.nav-link {
    list-style: none;
}
.nav-link:hover {
    color: gray;

}
.nav-link a {
    text-decoration: none;
    color: black;
}

.header-image {
    display: flex;
    width: 100%;
    height: 80vh;
}